* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
}

*[tabindex="0"]:focus {
  outline: 4px dashed orange;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%; 
  top: 0; 
  z-index: 1000; 
}

.menu-toggle{
  display: none;
  font-size: 1.5em;
}

.brand {
  font-size: 1.5rem;
}

.brand a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
}

.navbar-toggle {
  cursor: pointer;
  display: none;
}
.navbar-menu li a:hover{
  background-color: #FF5001;
}

/* Hero Element */
.hero {
  position: relative; /* Menjadikan posisi relatif */
  display: flex;
  align-items: center;
  min-height: 500px;
  width: 100%;
  background-image: url('../public/images/heros/hero-image_2.jpg');
  background-position: center;
  background-size: cover;
  padding: 0 20px;
}

.hero::after {
  content: ''; /* Menambahkan konten kosong */
  position: absolute; /* Menjadikan posisi absolut */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Menambahkan overlay gelap dengan opacity 0.5 */
}

.hero__inner {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 70px;
  max-width: 800px;
  padding-top: 70px;
}

.hero__content {
  text-align: left;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 40px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
  width: 70%;
}

.hero__button {
  background-color: #FF5001;
  color: #fff;
  border: none;
  padding: 13px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  width: 25%;
  border-radius: 5px;
}

.hero__button:hover {
  background-color: #FF6347;
}

/* Content Heading */

.head-content {
  text-align: center;
  margin-top: 38px;
}

.head-content h1 {
  font-size: 2rem; 
  color: #333; 
  margin-bottom: 10px; 
}

.head-content::after {
  content: '';
  display: block; 
  width: 90px;
  height: 2px; 
  background-color: #FF5001; 
  margin: 10px auto; 
}


/* CSS untuk Form Pencarian */
.search-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: inline-block;
}

.search-form input {
  width: 500px;
}

#search-input {
  padding: 1em;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-form button {
  padding: 1em;
  font-size: 16px;
  background-color: #FF5001;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #FF6347;
}


/* Daftar Restoran */
.container-restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: space-evenly;
}

.restaurant-item {
  max-width: 350px;
  border: 1px solid #ddd;
  position: relative; 
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.restaurant-item img {
  width: 100%;
  max-height: 170px;
  display: block;
}

.restaurant-item .city-label {
  position: absolute;
  top: 35px;
  /* left: 20px; */
  background-color: #FF5001;
  color: white; 
  padding: 5px 10px;
  border-radius: 0px 5px 5px 0px;
}

.city-label p{
  font-weight: bold;
}

.restaurant-item .content-item {
  margin-top: 10px;
  padding: 20px;
}

.restaurant-item .content-item h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.restaurant-item .content-item p {
  font-size: 0.9em;
  margin-bottom: 5px;
}


.restaurant-item .rating {
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-size: 1em;
}

.restaurant-item .rating i {
  color: yellow;
  margin-right: 5px; 
  font-size: 20px;
}

/* Animasi bintang */
/* @keyframes starAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
} */

.restaurant-item .rating i {
  animation: starAnimation 0.5s infinite alternate; /* Animasi bintang */
}


/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
