
/* Tablet */
@media (max-width: 767px) {
    .restaurant-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-toggle {
        display: flex;
        cursor: pointer;
        padding: 1rem;
        transition: all 0.3s; 
    }
    .search-form input {
        width: 450px;
    }
    .navbar-menu {
        display: none;
    }

    .navbar-menu.active {
        display: flex;
        background-color: #333;
    }
    
    nav ul {
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        align-items: center;
        flex-direction: column;
        z-index: 1000;
        border: solid 1px black;
        width: 80%;

    }

    
    .close{
        color: white;
    }
    
    .nav-item {
        width: 100%;
        line-height: 24px;
        text-align: center;
        border-bottom: 1px solid #e0e0e0;
        padding: 20px;
    }
    
    .nav-item:first-child {
        border-top: 1px solid #e0e0e0;
    }
    
    .navbar-menu li {
        margin: 0px;
    }
      
    nav ul li a {
        color: white !important;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .restaurant-list {
        grid-template-columns: 1fr;
    }
    header{
        padding: 20px 20px;
    }
    .nav-brand{
        font-size: 1.2rem;
    }
    .hero__inner {
        margin: 0;
        text-align: center;
        align-items: center;
    }
    .hero__title {
        font-size: 1.5em ;
    }
    .hero__tagline {
        font-size: 1em;
        width: 100%;
    }
    .hero__button{
        width: 70%;
    }
    .head-content h1 {
        font-size: 1.5rem;
    }
    .search-form input {
        width: 230px;
    }
    .text-search {
        position: absolute !important;
        height: 1px; 
        width: 1px; 
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        white-space: nowrap;
      }
    .content-item p{
        font-size: 12px !important;
    }
}

